{% extends "registration/base_registration.html" %}

{% block title %}Inicio de sesión{% endblock %}

{% block content %}
<div>
    <h1>Inicio de sesión</h1>

    {% if form.errors %}
    <p class="warning">Tu nombre de usuario y/o contraseña no son iguales. Intenta de nuevo.</p>
    {% endif %}

    <form class="form" method="post" action=".">
        {% csrf_token %}
        <p><label for="id_username">Nombre de usuario:</label>{{ form.username }}</p>
        <p><label for="id_password">Contraseña:</label>{{ form.password }}</p>
        <input type="hidden" name="next" value="/profile" />
        <input type="submit" value="Acceder" />
    </form>
</div>
{% endblock %}
