
@font-face {
    font-family: 'HelveticaLight';
    src: url('http://localhost:8000/static/fonts/HelveticaLTStd-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaCondensed";
    src: url('http://localhost:8000/static/fonts/HelveticaLTStd-Cond.otf');
    font-weight: normal;
    font-style: normal;
}

html, body, div, ul, li, h1, h2 {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.cyan_fg {
    color: #2ea6c9;
}

.warning {
    background-color: #f0ede8;
}

/* colores personalizados del menu */
.yellow { border-top: 8px solid #c39a1e; }
.blue { border-top: 8px solid #2a82a8; }
.red { border-top: 8px solid #70313c; }
.green { border-top: 8px solid #215524; }

a {
    text-decoration: none;
    outline: none;
}

body {
    background-color: #30a7c7;
}

#toolbar *, #menubar * {
    font-family: "HelveticaCondensed";
}

#toolbar {
    width: 100%;
    height: 30px;
    background-color: #f0ede8;
}

#menubar {
    width: 100%;
    height: 100px;
    background-color: #d1cec5;
    border-bottom: 5px solid #bab5b1;
}

#toolbar_wrapper {
    width: 960px;
    height: 30px;
    margin: 0 auto;
}

#menubar_wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#toolbar ul {
    list-style-type: none;
    float: right;
    margin-right: 20px;
}

#toolbar ul li {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

#toolbar ul li a {
    text-transform: uppercase;
    color: #3b3a38;
    font-size: 14px;
    float: left;
    padding-top: 10px;
}

#toolbar ul li a:hover {}

#menubar_wrapper #logo {
    position: absolute;
    top: -25px;
    left: -30px;
    width: 215px;
    height: 266px;
    background-image: url('/static/logo.png');
    background-repeat: no-repeat;
}

#menubar ul {
    list-style-type: none;
}

#menubar ul.left {
    margin-left: 250px;
}

#menubar ul li {
    display: inline-block;
    margin-right: 5px;
}

#menubar ul.left li {
    background-color: #c4c2b6;
}

#menubar ul.left li, #menubar ul.left li a {
    float: left;
}

#menubar ul.right li,
#menubar ul.right li a {
    float: left;
}

#menubar ul li a {
    text-transform: uppercase;
    color: #3b3a38;
    font-size: 14px;
}

#menubar ul li a:hover {}

#menubar ul.left li a {
    width: 100px;
    height: 36px;
    margin-top: 56px;
    padding: 0px 0px 0px 10px;
}

#menubar ul.right li a {
    width: 200px;
    height: 36px;
    margin-top: 64px;
    text-align: center;
    padding: 0px 0px 0px 10px;
}

#content {
    margin: 0 auto;
    width: 960px;
}

#content * {
    font-family: "HelveticaLight";
}

#content h1 {
    font-size: 25px;
    padding: 10px 0px 0px 35px;
}

#content a {
    color: #4577ad;
}

#main {
    width: 613px;
    width: 613px;
    float: left;
    background-color: #ffffff;
    margin: 0px 3px 10px 135px;
}

#main_wrapper {
    padding: 25px 25px 25px 45px;
}

#infograph_top {
    background-color: #2983a8;
    color: #ffffff;
    font-size: 14px;
    padding: 3px 10px 0px 10px;
}

#sidebar {
    width: 200px;
    float: left;
}

#sidebar .widget {
    background-color: #f1eee9;
    padding: 10px;
    margin-bottom: 3px;
}

#sidebar .widget h2 {
    font-weight: normal;
    font-family: "HelveticaLight";
    font-size: 16px;
    padding: 0px 0px 10px 0px;
}

#sidebar .widget * {
    font-size: 12px;
}

#sidebar .widget input {
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    padding: 5px 10px;
    width: 158px;
}

#sidebar .widget input[type="submit"] {
    background-color: #66bed4;
    color: #ffffff;
    text-transform: uppercase;
    width: 178px;
}

#sidebar .widget a.button {
    background-color: #66bed4;
    border-radius: 6px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    width: 158px;
    margin-top: 10px;
    padding: 5px 10px;
}

/* wizard */
#main .step {
    float: left;
    width: 118px;
    padding: 10px 10px;
    padding-right: 53px;
}

#main .step.first {
    background-image: url('/static/fondoizq.gif');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#main .step h2 {
    font-size: 15px;
    font-weight: normal;
    height: 64px;
}

#main .step p {
    font-size: 11px;
    margin: 0;
    padding: 0;
    height: 60px;
}

#main .fill_1, #main .fill_2 {
    float: left;
    width: 40px;
    height: 156px;
    /*background-color: #3b3a38;*/
}

#footer {
    margin: 0;
    padding: 0;
    width: 613px;
    height: 125px;
    margin-top: 20px;
    background-image: url('/static/footer.gif');
    background-repeat: no-repeat;
}

form.form p {
    
}