<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="es" />
        <meta http-equiv="title" content="Comunidad Educativa Boliviana 'Adela'" />

        <meta name="author" content="Beta Overhead" />
        <meta name="description" content="" />
        <meta name="distribution" content="global" />
        <meta name="keywords" content="redes,educacion,social,distribuido" />
        <meta name="locality" content="La Paz, Bolivia" />
        <meta name="organization" content="Beta Overhead (Hackaton 2012)" />
        <meta name="revisit" content="1 days" />
        <meta name="title" content="" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link media="all" href="/static/style.css" type="text/css" rel="stylesheet" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="toolbar">
            <div id="toolbar_wrapper">
                {% block toolbar %}
                <ul>
                    <li><a href="{% url auth_login %}">Ingresar</a></li>
                    <li><a href="{% url registration_register %}"><span class="cyan_fg">Registrarse</span></a></li>
                </ul>
                {% endblock %}
                <div class="clear"></div>
            </div>
        </div>
        <div id="menubar">
            <div id="menubar_wrapper">
                <div id="logo"></div>
                {% block menubar %}
                <ul class="left">
                    <li class="yellow"><a href="/">Principal</a></li>
                    <li class="blue"><a href="#">Contenidos minimos</a></li>
                    <li class="red"><a href="#">Comunidades</a></li>
                    <li class="green"><a href="#">Calendario</a></li>
                </ul>
                {% endblock %}
                <ul class="right">
                    <li><a href="#">Contactenos</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div id="content">
            <div id="main">
                <div id="main_wrapper">
                    {% block content %}{% endblock %}
                </div>
                <div id="footer"></div>
            </div>
            <div id="sidebar">
                {% block sidebar1 %}{% endblock %}
                {% block sidebar2 %}{% endblock %}
                {% block sidebar3 %}{% endblock %}
                {% block sidebar4 %}{% endblock %}
            </div>
        </div>
    </body>
</html>
